h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

h1 {
  cursor: pointer;
}
.card {
  border: 2px solid black;
  font-size: x-large;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 3px 4px rgb(110, 109, 109);
  text-align: center;
  font-size: 50px;
  line-height: 160px;
  background-color: aquamarine;
  margin: 5px;
}
