h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

h1 {
  cursor: pointer;
}
.card {
  border: 2px solid black;
  font-size: x-large;
  width: 100px;
  height: 150px;
  border-radius: 10px;
}
